@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*KozGoPr6NRegular*/
@font-face {
  font-family: 'KozGoPr6NRegular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/KozGoPr6NRegular.woff') format('woff');
  }

/*Kaku*/
@font-face {
  font-family: 'hiraKaku';
  src: url('/fonts/HiraKakuPro-W3.otf') format('truetype');
  font-weight: 300; /* Normal */
  font-style: normal;
}
@font-face {
  font-family: 'hiraKaku';
  src: url('/fonts/HiraKakuPro-W6.otf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: normal;
}
@font-face {
  font-family: 'hiraKaku';
  src: url('/fonts/HiraKakuStd-W8.otf') format('truetype');
  font-weight: 700; /* Normal */
  font-style: normal;
}


/* Karla Font Faces */
@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-Italic.ttf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: italic;
}
@font-face {
  font-family: 'Karla';
  src: url('/fonts/Karla-BoldItalic.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

/* Rubik Font Faces */
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

.custom-width {
  width: 1500px;
}
.custom-height {
  height: 1500px;
}

.section {
  padding-top: 80px;
  margin-top: -80px;
  box-sizing: border-box;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-75px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.hardShadow {
  box-shadow: 5px 5px 0 0 #888888;
}

.hardShadow:hover {
  box-shadow: 10px 10px 0 0 #444;
}

.responsive-image {
  width: 100%;
  height: auto;
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-pulse {
  animation: pulse 0.3s ease-in-out;
}


@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-scale {
  animation: scale 0.3s ease-in-out;
}

.product-image {
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(1.1);
}

.box-shadow {
  box-shadow:0;
}

.box-shadow:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 20px -5px, rgba(0, 0, 0, 0.3) 0px 10px 60px -30px;
}

.header-link {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.header-link:hover {
  opacity: 1;
  background-color: transparent;
}

.active-link {
  opacity: 1 !important;
}
